body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Previene scroll en la PWA */
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #f3f4f6;
}

#map {
    width: 100vw;
    height: 100vh; /* Que ocupe toda la pantalla del dispositivo */
    z-index: 1;
}

#btn-gps {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn-gps:active {
    transform: scale(0.95);
}