# ==== Ignorar en contexto Docker ====
.git/
.gitignore
.dockerignore
docs/
scripts/
README.md
compose.yaml
mobile-driver/
.vscode/

# ==== Python ====
__pycache__/
*.py[cod]
.venv/
venv/
env/

# ==== CI/CD ====
.github/

# ==== Monitoreo ====
prometheus.yml
grafana-datasources.yml

# ==== Secretos ====
.env*
*.jks
*.keystore
*.pem
*.key
