:8080 {
    # DevSecOps: Implementación de cabeceras de seguridad fundamentales
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "no-referrer-when-downgrade"
    }

    # 1. Servir el Frontend estático PWA
    root * /srv/frontend
    file_server

    # 2. Redirigir peticiones API al backend de FastAPI
    handle /health {
        reverse_proxy api:8000
    }
    
    handle /api/* {
        reverse_proxy api:8000
    }

    # 3. Redirigir WebSockets
    handle /ws {
        reverse_proxy api:8000
    }
}